body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 10px;
}

.search-box {
    flex-grow: 1;
    margin: 0 20px;
    max-width: 500px;
}

.search-box input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.search-box button, .login-btn, .location-btn {
    padding: 10px 20px;
    background-color: #00b294;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn, .location-btn {
    background-color: #e9efee;
}

.category-container {
    text-align: center;
}

.category-container h4 {
    display: inline-block;
    margin: 0 10px; /* Adjust the space between headings */
}

.section-container {
    text-align: center;
    margin-top: 20px; /* Adjust the margin as needed */
}

.section-container h2 {
    margin-bottom: 10px; /* Adjust the margin as needed */
}

.box-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.box {
    flex-grow: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}
